<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <title>Shopping Cart</title>
</head>

<body>
    <div class='cartContainer'>
        <div class='cartDisplay'>
            <div id='cartTop'>
                <header class='cartHeader cartTopBox1'>Shopping Cart</header>
                <div class='cartBlank'></div>
                <h6 class='cartH6 cartTopBox2'>Price</h6>
                <h6 class='cartH6 cartTopBox3'>Quantity</h6>
            </div>
            {{#each inventory}} {{#if this.itemInCart}}
            <div id='cartMiddle'>
                <!--use handlebar render products-->
                <div id='cartProductImg'>
                    <img src='{{this.ImgPath}}' />
                </div>

                <div id='cartProductInfo'>
                    <h5 class='cartH5'>{{this.itemName}}</h4>
                        {{#if this.itemCount}}
                        <h6 class='cartH6' style='color:green'>In Stock</h6>
                        {{/if}}
                        <button type="button" class='cartH6 cartDelete' >Delete</button>
                </div>

                <div id='cartProductPrice'>
                    <h5 class='cartH5'>{{this.itemPrice}}</h5>
                </div>

                <div id='cartProductQty'>
                    <h5 class='cartH5' id=`{{this._id}}`></h5>
                    <span class='cartQtyChange'>
                        <button id='cartDecBtn' type='button' data-id='{{this._id}}'>Minus</button>
                        <select id='purSelect'>
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='6'>6</option>
                        </select>
                        <button id='cartIncBtn' type='button' data-id='{{this._id}}'>Add</button>
                    </span>
                </div>
            </div>

            {{/if}} {{/each}}
            <div id='cartBottom'>
                <div class='cartHeader'>
                    Subtotal:$
                    <span class='cartSubtotal'>23.55</span>
                </div>
            </div>
        </div>
        <div class='cartCheckout'>
            <div id='chekoutShow'>
                <div class='cartHeader'>
                    Subtotal:
                    <span class='cartSubtotal'>$23.55</span>
                </div>
                <button type="button">Place the order</button>
            </div>
            <div class='cartBlank'></div>
        </div>
    </div>

   

</body>

</html>